.Doot {
  display: inline-block;
  position: relative;

  .Doot_popup {
    display: none;
    visibility: hidden;
  }

  a {
    cursor: help;
  }

  a:hover + .Doot_popup,
  a:focus + .Doot_popup,
  &:focus-within .Doot_popup {
    display: block;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    outline: 2px solid var(--accent-color);
    padding: 1em;
    background-color: var(--background-color);
  }
}
