<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>make games without JS</title>
    <link rel="stylesheet" href="${basePath}static/vars.css" />
    <link rel="stylesheet" href="${basePath}static/html.css" />
    <link rel="stylesheet" href="${basePath}static/code.css" />
    <link rel="stylesheet" href="${basePath}static/Doot.css" />
    <meta name="description" content="" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" />
    <base href="${basePath}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
    </style>
  </head>

  <body>
    ${main}
    <script src="${basePath}static/main.js"></script>
    <footer>
      <p>
        <a href="https://github.com/patreeceeo/html1337">Born</a>
        <a
          href="https://www.todepond.com/wikiblogarden/tadi-web/entry-points/#slippy-mindset"
          >Slippy</a
        >
        .NUXX
      </p>
      <p>
        Do you find this infuriating?
        <a href="https://buymeacoffee.com/patrick.canfield">buy me a coffee!</a>
      </p>
    </footer>
  </body>
</html>
