<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>make games without JS</title>
    <link rel="stylesheet" href="${basePath}static/html.css" />
    <meta name="description" content="" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="icon.png" />
    <base href="${basePath}" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="more">more</a></li>
      </ul>
    </nav>
    ${main}
    <!-- <script src="static/app.js"></script> -->
  </body>
</html>
